*{
  margin: 0;
  padding: 0;
}
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  /* background-image:linear-gradient(to right, #1788ca, #2fcb59); */
  background-image:linear-gradient(to top right, #325531 , #1BFFFF);
  height: 100vh;
  margin: 0;
  border: 0;
  padding: 0;
}
.output {
  outline: none;
  border: none;
  width: 330px;
  height: 150px;
  font-size: 32px;
  padding: 2px 10px;
  background: #0c3398;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  color: #fff;
  text-align: right;

}

button {
  width: 85px;
  height: 90px;
  font-size: 26px;
  cursor: pointer;
  border: none;
  /* border-top: 1px solid #666;
  border-right: 1px solid #666; */
  background-color: #1a2738;
  color: white;
}

.digit:hover {
  background-color: #d9d9d9;
  /* border-radius: 100%; */
  color: black;
}

.operator:hover {
  background-color: #cb9e60;
}

.fun-keys:hover {
  background-color: #aba9a9;
}


.operator {
  border-right: none;
  background-color: #293039;
  color: #fff;
}

.fun-keys {
  background-color: #1a2738;

}
.keypad{
  border: 5px solid #1a2738;

  border-bottom-right-radius: 20px;
  border-bottom-left-radius: 20px;
}